<!DOCTYPE html>
<html lang="en" th:replace="fragments/base::parent(~{::#about-container},~{::title})">
<head>
    <title>About</title>
</head>
<body>
    <div id="about-container">
        <h1>This is home page </h1>
       <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, dolorum? Itaque consequatur dolorem accusamus molestiae atque, officia laborum, ea officiis temporibus impedit sapiente. Ducimus excepturi, delectus adipisci minus officia beatae.</p>
    </div>
</body>
</html>